@import url(./assets/css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.font_family_chivo {
  font-family: "Chivo", sans-serif;
}

.font_family_DM_Sans {
  font-family: "DM Sans", sans-serif;
}

.font_family_poppins {
  font-family: "Poppins", sans-serif;
}

.max_width_1360 {
  max-width: 1360px;
}

.max_width_1140 {
  max-width: 1140px;
}

.max_width_800 {
  max-width: 800px;
}

.max_width_745 {
  max-width: 745px;
}

.max_width_720 {
  max-width: 520px;
}

.max_width_556 {
  max-width: 556px;
}

.max_width_570 {
  max-width: 570px;
}

.max_width_200 {
  max-width: 200px;
}

.section_margin_-1 {
  margin-top: -1px;
}

.nav_padding {
  padding-top: 14.75px;
  padding-bottom: 14.75px;
}

.Hero_Bg {
  background-image: url(./assets/images/webp/HeroBg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav_bg {
  background: #11100B1A;
  backdrop-filter: blur(30px);
}

.lubricant_red::after {
  content: '';
  position: absolute;
  width: 110%;
  top: 0;
  left: -11px;
  height: 100%;
  z-index: -1;
  background-image: url(./assets/images/webp/Lubricant_red.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Lubricant_gold {
  top: 40%;
}

.Pioneer_Section_padding_top {
  padding-top: 48px;
}

.Pioneer_Section_padding_bottom {
  padding-bottom: 48px;
}

.pioneer_section_para_padding {
  padding-top: 43px;
}

.common_button {
  background: linear-gradient(180deg, #6A1012 0%, #D01F23 100%);
  padding: 16px;
  box-shadow: 0px 2px 20.9px 0px #B61C1FCC;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, #6A1012, #D01F23) 1;
  transition: all 400ms linear;
}

.common_button:hover {
  background: linear-gradient(260deg, #6A1012 0%, #D01F23 100%);
  box-shadow: 0px 2px 20.9px 4px #B61C1FCC;

}

.About_section_ellipse {
  right: 0;
  z-index: 2 !important;
  bottom: -16%;
}

.Number_grid_image {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 873px;
  bottom: -10%;
  background-size: cover;
}

.Semicircle {
  background-image: url(./assets/images/webp/Semicircle.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 260px;
  height: 100%;
  z-index: 0 !important;
  margin-bottom: -10%;
}
.all_logos{
  max-width: 50px;
}
.pointer_event_none {
  pointer-events: none;
}

.blog_date_text {
  background: #B91C20;
  padding: 12px;
  top: 12px;
  left: 12px;
}

.AboutWhite {
  bottom: 54px;
  height: 417px;
}

.BlueLiquid {
  right: 0;
  top: 20%;
  max-width: 600px;
}

.Read_button_margin_top {
  margin-top: 45px;
}

.About_row_padding_top {
  padding-top: 46px;
}

.About_row_padding_bottom {
  padding-bottom: 49px;
}

.padding_botton_87 {
  padding-bottom: 47px;
}

.padding_bottom_27 {
  padding-bottom: 27px;
}

.Blog_Section_Padding_bottom {
  padding-bottom: 100px;
}

.Approvel_section_padding_top {
  padding-top: 40px;
}

.Approvel_section_padding_bottom {
  padding-bottom: 48px;
}

.About_section_padding_top {
  padding-top: 44px;
}

.approvel_para_padding {
  padding-top: 41px;
}

.VW1 {
  top: 15%;
  left: 12%;
}

.VW2 {
  top: 0;
  left: 32%;
}

.VW3 {
  top: 9%;
  right: 10%;
}

.mini1 {
  top: 24%;
  left: 29%;
}

.mini2 {
  top: 31%;
  left: 68%;
}

.CAT {
  right: 39%;
  top: 10%;
}

.mercadise {
  right: 43%;
  top: 32%;
}

.input_div {
  padding-left: 16px;
  padding-right: 16px;
  background: #7676801F;
  border: 1px solid #FFFFFF3B;
  gap: 12px;
}

input {
  background: transparent;
  border: none;
  max-width: 101px;
  outline: none;
}

.blog_text::after {
  content: '';
  position: absolute;
  width: 120%;
  top: 0;
  left: -11px;
  height: 100%;
  z-index: -1;
  background-image: url(./assets/images/webp/BlogText.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.number_text::after {
  content: '';
  position: absolute;
  width: 105%;
  top: 0;
  left: -11px;
  height: 100%;
  z-index: -1;
  background-image: url(./assets/images/webp/Lubricant_red.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown-toggle::after {
  content: "";
  background-image: url(./assets/images/svg/DropDownArrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border: none;
  width: 14px;
  height: 12px;
  margin-left: 4px;
}

.approvel_text::after {
  content: '';
  position: absolute;
  width: 110%;
  top: 0;
  left: -11px;
  height: 100%;
  z-index: -1;
  background-image: url(./assets/images/webp/ApprovelText.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown button {
  background: transparent !important;
  border: none;
  padding: 0;
}

.red_hover_text {
  transition: all 400ms linear;
}

.red_hover_text:hover {
  color: #B91C20 !important;
  text-shadow: 0px 12px 27.4px #850A0D;
}

.nav_links{
  position: relative;
  transition: all 400ms linear;
  opacity: 80%;
}
.nav_links::after{
  content: '';
  position: absolute;
  width: 0;
  transition: all 400ms linear;
  height: 2px;
  background: #FFFFFF;
  bottom: -4px;
  left: 0;
}
.nav_links:hover::after{
  width: 100%;
}
.nav_links:hover{
  opacity: 100%;
}

@media (min-width:768px) {
  .Blog_Section_Padding_bottom {
    padding-bottom: 162px;
  }

  .padding_botton_87 {
    padding-bottom: 87px;
  }

  .About_section_padding_top {
    padding-top: 64px;
  }

  .Pioneer_Section_padding_top {
    padding-top: 90px;
  }

  .pioneer_section_para_padding {
    padding-top: 35px;
  }

  .Approvel_section_padding_top {
    padding-top: 55px;
  }

  .Approvel_section_padding_bottom {
    padding-bottom: 48px;
  }

  .approvel_para_padding {
    padding-top: 41px;
  }

  .About_row_padding_top {
    padding-top: 36px;
  }

  .About_row_padding_bottom {
    padding-bottom: 89px;
  }
  .Semicircle {
    min-height: 460px;
  }
  .all_logos{
    max-width: 80px;
  }
}

@media (max-width:992px) {

  .About_md_white {
    background-image: url(./assets/images/webp/AboutWhite.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Lubricant_md_White {
    background-image: url(./assets/images/webp/Lubricant_white.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mobile_view {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    top: 0;
    transition: all 700ms linear;
    background: #757879;
    min-height: 100vh;
    position: fixed;
    width: 100%;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .bar {
    width: 26px;
    height: 3px;
    z-index: 99;
    background: #B91C20;
  }

  .navShow {
    right: 0;
  }

  .navhide {
    right: -100%;
  }
 
}

@media (min-width:992px) {
  .About_row_padding_top {
    padding-top: 76px;
  }
  .Semicircle {
    min-height: 660px;
  }
  .all_logos{
    max-width: 100px;
  }
  .common_button {
    padding: 16px 24px;
  }

  .Blog_Section_Padding_bottom {
    padding-bottom: 262px;
  }

  .About_row_padding_bottom {
    padding-bottom: 289px;
  }

  .text_black {
    color: var(--black2) !important;
  }

  .Pioneer_Section_padding_top {
    padding-top: 180px;
  }

  .Pioneer_Section_padding_bottom {
    padding-bottom: 153px;
  }

  .pioneer_section_para_padding {
    padding-top: 113px;
  }

  .Approvel_section_padding_top {
    padding-top: 125px;
  }

  .Approvel_section_padding_bottom {
    padding-bottom: 78px;
  }

  .approvel_para_padding {
    padding-top: 111px;
  }

  .LubricantWhite {
    right: 0;
    bottom: 8%;
    height: 417px;
  }

  .pb_114 {
    padding-bottom: 114px;
  }
}

@media (min-width:1200px) {
  .gap_28 {
    gap: 28px !important;
  }

  .gap_55 {
    gap: 55.5px !important;
  }
  .Semicircle {
    min-height: 820px;
  }
  .all_logos{
    max-width: 100%;
  }
  .BlueLiquid {
    right: 3%;
    top: 10%;
    max-width: 100%;
  }

  .margin_top {
    margin-top: -260px;
  }
  .max_width_720 {
    max-width: 720px !important;
  }
  .Lubricant_gold {
    top: 30%;
  }
}

@media (min-width:1400px) {
  .LubricantWhite {
    width: 63.66%;
  }

  .AboutWhite {
    width: 63.66%;
  }
}